.label {
    float: left;
    width: 36%;
    text-align: right;
}

.input {
    text-align: center;
    border:1px solid #6e6868;
    padding: 1%;
    width: 50%;
    border-radius: 6px;
    color: #6e6868;
}

.form-control {
    width: 30%;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
}

.textarea {
    width: 40%;
    display: block;
    margin: 0 auto;
    resize: none;
    padding: 2%;
    height: 20vh;
    font-style: italic;
    border-radius: 6px;
    border:1px solid #6e6868;
    color: #6e6868;
}