.alert {
    border:1px solid white;
    padding: 1%;
    width: 60%;
    border-radius: 6px;
    background-color: #d9534f; /* Red */
    color: white;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    margin-left: 20%;
  }
  