.footer {
    width: 100%;
    height: 18vh;
    background-color: #7ac4fb;
    color: #ec2373;
    border-top: 2px solid #ec2373;
    border-bottom: 2px solid #ec2373;
    margin-bottom: 1%;
}

.university {
    text-align: center;
    font-weight: bold;;
}

.logo {
    width: 8vh;
}